<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PJ - Home</title>
        <link rel="stylesheet" type="text/css" href="out.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div id="twosider">
            <div id="menu">
                {{range $index, $element := .Entries}}
                <div class="item">
                    <a href="#{{$index}}">{{$element.Title}}</a>
                </div>
                {{end}}
            </div>
            <div id ="page">
                <div id="header">
                    <div id="bt_drawer" onclick="menu_toggle();">
                        <i class="material-icons" id="menu_bt">menu</i>
                    </div>
                    <a href="https://doc0160.github.io/Party-Junie-Archive/">
                        Party Junkie
                    </a>
                </div>
            <div id="content">
                {{range $index, $element := .Entries}}
                <div class="item" id="{{$index}}" >
                    <div class="title">{{$element.Title}}</div>
                    <div class="description">{{$element.Description | markdown | nl2br}}</div>
                    <div class="more"
                         onclick="article_toggle('article-{{$index}}')">
                        More<i class="material-icons" id="more">expand_more</i>
                    </div>
                    <div class="article" id="article-{{$index}}">
                        {{$element.Article | markdown | nl2br}}
                    </div>
                </div>
                {{end}}
                <div>
                </div>
            </div>
            <script>
             function menu_toggle(){
                 var btm = document.getElementById('menu_bt');
                 var m = document.getElementById('menu');
                 if(m.style.display == 'none' || m.style.display == '') {
                     m.style.display = 'flex';
                     btm.innerText = "close";
                 } else {
                     m.style.display = 'none';
                     btm.innerText = "menu";
                 }
             }

             function article_toggle(a){
                 var more = document.querySelector("#"+a+" #more");
                 console.log(a+" #more");
                 var m = document.getElementById(a);
                 if(m.style.display == 'none'  || m.style.display == '') {
                     m.style.display = 'block';
                     more.innerText = "expand_less"
                 } else {
                     m.style.display = 'none';
                     more.innerText = "expand_more"
                 }
                 
             }
            </script>
    </body>

</html> 
